html {
    scroll-behavior: smooth;
}

body {
   font-family: 'Montserrat', sans-serif;
}

/* /* .email {
    float: left;
} */


.github {
    position: absolute;
    margin-left: 11px;
    margin-top: 10px;
} 

/*--------------
NAV BAR
---------------*/
.header {
    width: 100%;
    position: fixed;
    top: 0px;
}
i.icon-grey {
    color: black;
    
}

.sidenav-trigger {
    z-index: 100;
    margin-right: 20px;
    margin-top: 20px;
    display: block;
}

.sidenav {
    z-index: 1000;


}

.name {
    color: black;
}

.sidenav-close {
    text-align: center;
    height: 5px;
    width: 5px;
 
}

/*------------
FRONT PAGE TEXT
--------------*/



div.slide-up {
  height:200px;
  overflow:hidden;
}
div.slide-up p {
  animation: 3s slide-up;
  margin-top:0%;

}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%; 
  }

  to {
    margin-top: 0px;
    height: 100%;
  }
}

#short-bio{
    position: absolute;
    font-size: 52px;
    color: black;
    margin-top: 0px;
    margin-left: 100px;
}

.front-page-name {
    color: #FF1202;
    font-weight: 900px;
}

.contact-info {
    margin-right: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: auto;
}

img, .contact-info{
    height: 20px;
    width: 20px;
}

/* ----------------
FRONT PAGE BUTTONS
------------------*/

.contact-me {
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid white;
    position: fixed;
    margin-top: 95px;
    margin-left: -355px;
    padding: 10px;
}

.about-me {
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid white;
    position: fixed;
    margin-top: 95px;
    margin-left: -230px;
    padding: 10px;
}

button:hover {
    background-color: #FF1202;
    color: white;
    border: 1px solid #FF1202;
}

button:active {
    background-color: black;
    color: white;
    border: 1px solid black;
}
button:focus {
    background-color: black;
    color: white;
    border: 1px solid black;
}



/*-----------------
   ABOUT ME
------------------*/

.about-section {
    text-align: center;
  
}
.about-div {

   
}
.hello {
   /* display: inline-block; */
    font-size: 18px;
    color: white;
    margin-top: 0%;
}

.name {
    /* display: inline-block; */
    font-size: 58px;
    color: white;
    font-weight: bold;

}

.long-bio {
    display: inline-block;
    max-width: 600px;
    font-size: 22px;
    color: white;
    padding-top: 40px;
    border-top: 1px solid white;
}

/*--------------
  PORTFOLIO
---------------*/


.portfolio-box {
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 26px;
    border: 1px solid black;
    /* margin-left: 100px; */
    margin-top: 10px;
    margin-right: 100px;
    text-align: center;
    vertical-align: center;
}

.portfolio-border {
    height: 160px;
    width: 160px;
    background-color: black;
    color: white;
    font-size: 26px;
    border: 3px solid white;
    position: fixed;
    margin: 20px;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

.portfolio-box:hover {
    background-color: #FF1202;
    color: white;
    border: 1px solid #FF1202;
}

.portfolio-border:hover {
    background-color: #FF1202;
    color: white;
    border: 3px solid white;
}

.portfolio-header {
    color: #FF1202;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
   
}

.portfolio-subheader {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 26px;
    text-align: center;
    font-weight: 900px;


}

/*-----------------
CONTACT PAGE
-----------------*/

.contact-form {
    width: 100%;
    text-align: center;
}
.inside-form {
    border: 1px solid #FF1202;
    border-radius: 25px;
    display: inline-block;
    margin: 0 auto;
    padding: 25px;
}

.form-header {
    font-size: 18px;
    text-align: left;
    margin-top: 0;
}

.submit {
  
    margin-left: -365px;
}

      /* Inactive/Active Default input field color */
      .input-field input[type]:not([readonly]),
      .input-field input[type]:focus:not([readonly]),
      .input-field textarea:not([readonly]),
      .input-field textarea:focus:not([readonly]) {
          border-bottom: .2px solid black;
          box-shadow: 0 .2px 0 0 black;
      }
  
      /* Inactive/Active Default input label color */
      .input-field input[type]:focus:not([readonly])+label,
      .input-field textarea:focus:not([readonly])+label {
          color: black;
      }
  
      /* Active/Inactive Invalid input field colors */
      .input-field input[type].invalid,
      .input-field input[type].invalid:focus,
      .input-field textarea.invalid,
      .input-field textarea.invalid:focus {
          border-bottom: 1px solid black;
          box-shadow: 0 1px 0 0 black;
      }
  
      /* Active/Inactive Invalid input label color */
      .input-field input[type].invalid:focus+label,
      .input-field input[type].invalid~.helper-text::after,
      .input-field input[type].invalid:focus~.helper-text::after, 
      .input-field textarea.invalid:focus+label,
      .input-field textarea.invalid~.helper-text::after,
      .input-field textarea.invalid:focus~.helper-text::after {
          color: black;
      }
  
      /* Active/Inactive Valid input field color */
      .input-field input[type].valid,
      .input-field input[type].valid:focus,
      .input-field textarea.valid,
      .input-field textarea.valid:focus {
          border-bottom: 1px solid black;
          box-shadow: 0 1px 0 0 black;
      }
  
      /* Active/Inactive Valid input label color */
      .input-field input[type].valid:focus+label,
      .input-field input[type].valid~.helper-text::after,
      .input-field input[type].valid:focus~.helper-text::after,
      .input-field textarea.valid:focus+label,
      .input-field textarea.valid~.helper-text::after,
      .input-field textarea.valid:focus~.helper-text::after {
          color: black;
      }

      /*------------------
        MEDIA QUERIES
      -------------------*/
      @media screen and (max-width: 1080px) {
      .portfolio-div {
          max-width: 800px;
      }

        /* .portfolio-box {
            height: 160px;
            width: 160px;
            background-color: black;
            color: white;
            font-size: 20px;
            border: 1px solid black; */
            /* margin-left: 100px; */
            /* margin-top: 40px;
            margin-right: 100px;
            text-align: center;
            vertical-align: center;
        }
    
        .portfolio-border {
            height: 120px;
            width: 120px;
            background-color: black;
            color: white;
            font-size: 20px;
            border: 3px solid white;
            position: fixed;
            margin: 20px;
        } */

        #short-bio{
            position: absolute;
            font-size: 48px;
            color: black;
            margin-top: 60px;
            margin-left: 100px;
        }

        @keyframes slide-up {
            from {
              margin-top: 100%;
              height: 300%; 
            }
          
            to {
              margin-top: 60px;
              height: 100%;
            }
          }

          .contact-me {
            font-size: 18px;
            background-color: black;
            color: white;
            border: 1px solid white;
            position: fixed;
            margin-top: 95px;
            margin-left: -325px;
            padding: 10px;
        }
        
        .about-me {
            font-size: 18px;
            background-color: black;
            color: white;
            border: 1px solid white;
            position: fixed;
            margin-top: 95px;
            margin-left: -200px;
            padding: 10px;
        }
    }

    @media screen and (max-width: 960px) {
        .portfolio-div {
            max-width: 680px;
        }

        /* .portfolio-box {
            height: 140px;
            width: 140px;
            background-color: black;
            color: white;
            font-size: 16px;
            border: 1px solid black; */
            /* margin-left: 100px; */
            /* margin-top: 10px 40px;
            margin-right: 100px;
            text-align: center;
            vertical-align: center;
        }
    
        .portfolio-border {
            height: 100px;
            width: 100px;
            background-color: black;
            color: white;
            font-size: 16px;
            border: 3px solid white;
            position: fixed;
            margin: 20px;
        } */

        .portfolio-header-div {
            max-width: 780px;
            text-align: center;
            margin: auto;
            width: 50%;
        }

        .row {
            margin-bottom: 10px;
        }

        /* .portfolio-section {
            max-width: 680px;
            text-align: center;
            margin: auto;
            width: 50%;
        } */

    }

    @media screen and (max-width: 768px) {
        /* .portfolio-div {
            max-width: 640px;
        }

        .portfolio-box {
            height: 140px;
            width: 140px;
            background-color: black;
            color: white;
            font-size: 16px;
            border: 1px solid black;
            margin-left: 100px;
            margin-top: 10px 40px;
            margin-right: 100px;
            text-align: center;
            vertical-align: center;
        }
    
        .portfolio-border {
            height: 100px;
            width: 100px;
            background-color: black;
            color: white;
            font-size: 16px;
            border: 3px solid white;
            position: fixed;
            margin: 20px;
        } */

        .portfolio-header-div {
            max-width: 780px;
            text-align: center;
            margin: auto;
            width: 50%;
        }

        .row {
            margin-bottom: 10px;
        }

    }