/*--------------
NAV BAR
---------------*/

i.icon-grey {
    color: grey;
}

.sidenav-overlay {
    background-color: #fce4ec;

}

.name {
    color: grey;
}

.sidenav-close {
    text-align: right;
    height: 5px;
    width: 5px;
    margin-left: 232px;
}