/*--------------
NAV BAR
---------------*/

i.icon-grey {
    color: grey;
    margin-right: 20px;
    margin-top: 10px;
}

.sidenav-overlay {
    background-color: #fce4ec;

}

.name {
    color: grey;
}

.sidenav-close {
    text-align: center;
    height: 5px;
    width: 5px;
 
}